#ng-feedback form {
    background-color: #FDFDF0;
    padding-bottom: 17px;
    border-bottom: 1px solid #A94545;
}

.callout-bubble {
	padding: 3px;
	color: #fff;
	background-color: #A94545;
}

form .callout-bubble {
    margin-bottom: 10px;
}

.callout-bubble h4 {
    color: #FFF;
}

.callout-bubble h4 {
    margin: 7px 0px;
}

.btn-xlarge {
    padding: 15px 34px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
