<div class="callout-bubble text-center fade-in-b" ng-if="feedback.formVissible==false && feedback.messageSent==false" ng-click="toggleForm(true)">
    <h4>Prześlij nam informacje!</h4>
</div>

<div class="callout-bubble text-center fade-in-b" ng-if="feedback.formVissible==false && feedback.messageSent==true">
    <h4>Dziękujemy!</h4>
    <p>Twoja informacja została wysłana do redakcji</p>
    <div class="col-xs-12 form-group">
        <button ng-click="toggleForm(false)" class="btn btn-danger btn-large pull-left">Zamknij</button>
        <button ng-click="toggleForm(true)" class="btn btn-success btn-large pull-right">Wyślij kolejną informację</button>
    </div>
    <div class="clearfix"></div>
</div>

<form class="hidden" name="notification" id="notification" novalidate>
    <div class="callout-bubble text-center fade-in-b" ng-click="toggleForm(false)">
		<h4>Prześlij nam informacje!</h4>
        <p>Wyślij informację o zdarzeniu lub temacie do naszych redaktorów.</p>
	</div>
    <div class="col-xs-12 form-group">
        <textarea type="textarea" class="form-control" id="subject" placeholder="Treść zgłoszenia (wymagane)" name="message" ng-model="feedback.message" ng-class="feedback.errors.message==false ? 'form-control' : 'form-control invalid'" required></textarea>
        <span class="warning" ng-show="feedback.errors.message!==false">Treść nie może być pusta!</span>
    </div>
    <div class="clearfix"></div>
    <hr style="margin:0px 0px 10px 0px">
    <h5 style="margin:15px 15px">Dołącz zdjęcie:</h5>
    <div class="col-xs-12 form-group">
        <input type="file" class="form-control" file-model="feedback.file"/>
    </div>
    <div class="col-xs-12 form-group">
        <input type="text" class="form-control" id="name" placeholder="Imię i Nazwisko (opcjonalne)" name="username" ng-model="feedback.name">
    </div>
    <div class="col-xs-12 form-group">
        <input type="email" class="form-control" id="email" placeholder="Adres e-mail (opcjonalne)" name="email" ng-model="feedback.email">
    </div>
    <div class="col-xs-12 form-group">
        <button ng-click="toggleForm(false)" class="btn btn-danger btn-large pull-left">Zamknij</button>
        <button ng-click="submit()" class="btn btn-success btn-large pull-right">Wyślij informacje</button>
    </div>
    <div class="clearfix"></div>
</form>
